abricate_megares.fasta
all_fasta_headers.txt
fasta_header_map.tsv
megares_drugs_annotations_v2.00.csv
megares_drugs_database_v2.00.fasta
megares_full_annotations_v2.00.csv
megares_full_annotations_with_notes_v2.00.csv
megares_full_database_v2.00.fasta
megares_modified_annotations_v2.00.csv
megares_modified_database_v2.00.fasta
megares_to_external_header_mappings_v2.00.csv
megares_v2.00.zip
.Rproj.user
